html {
  width: 100%;
  height: 100%;
}
body {
  font-family: "Merriweather", serif;
  width: 100%;
  height: 100%;
}
.gallery {
  background-color: #121315;
  height: 100%;
  overflow: hidden;
}
.header {
  background-image: url("../img/bg.jpg");
  background-color: #121315;
  background-size: cover;
  background-position: center;
  box-shadow: 3px 2px 5px rgb(0 0 0 / 41%);
  padding: 10px;
  transition: transform 0.5s;
}
.header.top {
  position: absolute;
  top: 0;
  z-index: 9999;
  width: 100%;
  transform: translateY(-82px);
}
.header.top:hover {
  transform: translateY(0);
}
.title {
  color: white;
  display: flex;
  justify-content: center;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 34px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
input {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 8px;
  width: 90%;
  outline: none;
  border: none;
}

#search {
  font-size: 12px;
}
#submit:hover,
#submit:active {
  transform: scale(1.1);
  z-index: 999;
}
#submit {
  border: none;
  color: rgb(28, 28, 28);
  background-color: white;
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 900;
  transition: transform 0.5s ease;
}
.main {
  height: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
}

.slider {
  width: 100%;
  max-width: 100%;
  height: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.slide {
  width: 800px;
  max-width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.9s;
  overflow: hidden;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: filter, transform 0.6s;
  position: relative;
}

.slide:hover img {
  filter: grayscale(1);
  transform: scale(1.1);
}
.open {
  position: absolute;
  display: none;
  bottom: 7%;
  z-index: 9999;
  right: 2%;
  padding: 20px 40px;
  border: 2px solid white;
  align-items: center;
  flex-direction: column;
  background-color: #1a191987;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  text-align: center;
  gap: 15px;
  border-radius: 4px;
}
.slide:hover .open {
  display: flex;
}

.slide a {
  background-color: white;
  color: #121315;
  padding: 10px 15px;
  border-radius: 4px;
  border: 3px solid white;
  text-transform: capitalize;
  font-weight: 400;
}

.main__card {
  background-image: url("../img/bg3.jfif");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.main__title {
  border: 2px solid white;
  background-color: #12131557;
  padding: 100px;
  border-radius: 4px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  color: white;
}
.main.loading {
  display: block;
}
.btn {
  position: absolute;
  width: 60px;
  height: 60px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background-color: white;
  font-size: 18px;
}
a{
  transition: transform 0.6s;
}
.btn:active,
a:active,
a:hover
{
  transform: scale(1.1);
}

.btn-prev {
  top: 45%;
  left: 2%;
  display: none;
}
.btn-next {
  top: 45%;
  right: 2%;
}

@media screen and (max-width: 868px) {
  .slider {
    width: auto;
  }
}
